@media screen and (max-width: 600px) {
  * {
    grid-template-columns: 1fr !important;
  }
  section > .container,
  .goals,
  .primary,
  .team,
  .bd {
    margin: auto;

    border: 10px solid #4263eb;
    padding: 30px 50px;
  }

  .project-item {
    padding: 20px;
    border: 1px solid #d0d0d0;
  }
  .text-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .title,
  .text-goals {
    padding-left: 30px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
  h1 {
    border-bottom: 1px solid #a9e34b;
    color: #4263eb;
    padding-bottom: 10px;
  }
  /* GOAL */
  .goals {
    grid-column: 1 / 2;
  }

  /*SCOPES */
  .scopes {
    grid-column: 2/1;
    height: 408px;
    border-top: none;
  }
  .scopes-flex {
    padding-left: 0px !important;
  }
  .titles {
    text-transform: uppercase;
  }

  /* TEAM */
  .team {
    grid-column: 2/3;
    grid-row: 1/1;
    margin-left: 0px;
  }
  .text-team {
    padding-right: 200px !important;
  }
  /* TIMELINE */
  .timeline {
    grid-column: 3/4;
    padding-right: 250px !important;
    margin-top: 0px !important;
  }
  .fill {
    fill: #4263eb;
    border-radius: 50%;
    border: solid 2px#343a40;
  }

  .text-timeline {
    padding-right: 0px !important;
  }
  .text {
    border-bottom: dotted 2px#4dabf7;
  }
  /* PRIMARY */

  .iconpr {
    width: 50px;
    height: 50px;
  }
}
